/* Mesmo estilo do login */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f5f5;
    overflow-x: hidden;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height:50px;
    background-color: #b6e4e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    font-weight: 700;
    font-size: 1.2rem;
    color: #003366;
}

.nav-links a {
    text-decoration: none;
    color: #003366;
    margin-left: 25px;
    font-weight: 500;
}

.nav-links a:hover {
    color: #007bff;
}

/* CONTAINER */
.login-container {
    margin: 130px auto;
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.login-container h2 {
    text-align: center;
    color: #003366;
}

.login-container label {
    display: block;
    margin-top: 15px;
    color: #003366;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-container button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #003366;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-container button:hover {
    background: #0055aa;
}

.login-container p {
    margin-top: 7px;
    text-align: center;
    font-size: 14px;
}

.login-container a {
    color: #003366;
    text-decoration: none;
}

.msg {
    margin-top: 10px;
    text-align: center;
    color: red;
}
